<h1 style="color:#004d00;size:8;text-align:center;">
  Want to battle?
</h1>
<form action= "/sign_up">
  <input type="submit" style="background-color:yellow;margin-left:auto;margin-right:auto;display:block;margin-top:22%;margin-bottom:0%" value="Can I get a Hell Yes?!">
</form>

<!-- <p align="center">
<button type="button" style="background-color:yellow;margin-left:auto;margin-right:auto;display:block;margin-top:22%;margin-bottom:0%"> mybuttonname</button>
</p> -->
