
<h1 style="color:#004d00;size:6;text-align:left;">
  <!-- <span class="smallerFont">First half</span>
  <span class="bigFont">Second half</span> -->
  <%= @game.p1.name %>
   <span style="float:right;"><%=  @game.p2.name %>
   </h1>
   <h1 style="color:#004d00;size:6;text-align:center;">vs.</h1>

<div >
<img src='http://i.imgur.com/5kfz7kn.gif' align="left">
</div>




<div >
<img src='http://www.slate.com/content/dam/slate/blogs/slatest/2016/01/slatest_160128_trump8.gif.CROP.original-original.gif' align="right">
</div>


<h2 style="color:#e64d00;size:5;text-align:left;">
  HP: <%= @game.p1.hp %>
</h2>
<h2 style="color:#ffcc99;size:5;text-align:right;">
  HP: <%= @game.p2.hp %>
</h2>
<form action= "/attack" id="left_attack">
<input type="submit" value="Attack@!£!$!%">
</form>

<form action= "/attack" id="right_attack">
<input type="submit" value="Attack@!£!$!%">
</form>
