
<h1 style="color:#004d00;size:6;text-align:center;">
  <%= @player_one.name %> vs. <%=  @player_two.name %>
</h1>
<h2 style="color:#e64d00;size:5;text-align:left;">
  HP: <%= @player_one.hp %>
</h2>
<h2 style="color:#ffcc99;size:5;text-align:right;">
  HP: <%= @player_two.hp %>
</h2>
<form action= "/attack">
<input type="submit" value="Attack@!£!$!%">
</form>
