
<html>
<body background="bgimage.jpg">


<h1 style="color:#004d00;size:6;text-align:left;">
  <%= @game.p1.name %>
   <span style="float:right;"><%=  @game.p2.name %>
   </h1>
   <h1 style="color:#004d00;size:6;text-align:center;">vs.</h1>





<div id="player_one_info" name="player_one_info" style="float: left;">
    <img src='http://i.imgur.com/5kfz7kn.gif' align="center">
      <h2 style="color:#e64d00;size:5;text-align:center;">
        HP: <%= @game.p1.hp %>
      </h2>
  <div id="player_one_dashboard" name="player_one_dashboard" align="center">
    <% if @game.turn.even? && @game.p2.hp != 10 %>
    <form action= "/attack1" id="left_attack">
      <input type="submit" value="Attack@!£!$!%">
    </form>
  <% elsif @game.p2.hp == 10 %>
    <form action= "/player_one_wins" id="left_attack">
      <input type="submit" value="Attack@!£!$!%">
    </form>
  <% else %>
    <form action= "/wait_turn" id="left_attack">
      <input type="submit" value="Attack@!£!$!%">
    </form>
  <% end %>
  </div>
</div>




<div id="player_two_info" name="player_two_info" style="float: right;">
    <img src='http://www.slate.com/content/dam/slate/blogs/slatest/2016/01/slatest_160128_trump8.gif.CROP.original-original.gif' style="float: center;">
      <h2 style="color:#ffcc99;size:5;text-align:center;">
        HP: <%= @game.p2.hp %>
      </h2>
  <div id="player_two_dashboard" name="player_two_dashboard" align="center">
    <% if @game.turn.odd? %>
    <form action= "/attack2" id="right_attack">
      <input type="submit" value="Attack@!£!$!%">
    </form>
  <% else %>
    <form action= "/wait_turn" id="right_attack">
      <input type="submit" value="Attack@!£!$!%">
    </form>
  <% end %>
  </div>
</div>







</body>
</html>
